<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mediq_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>dbcp.DbcpListener</listener-class>
  </listener>
  <context-param>
  	<param-name>poolConfig</param-name>
  	<param-value>
  	jdbcDriver=oracle.jdbc.driver.OracleDriver
  	jdbcUrl=jdbc:oracle:thin:@301-PC014:1521:orcl
  	dbUser=mediq
  	dbPass=mediq
  	validationQuery=select 1
  	minIdle=3
  	maxTotal=30
  	poolName=mediq
  	</param-value>
  </context-param>
  <servlet>
  	<servlet-name>DispatcherURI</servlet-name>
  	<servlet-class>controller.Dispatcher</servlet-class>
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>/WEB-INF/controllerURI.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DispatcherURI</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
      <filter-name>CharacterEncodingFilter</filter-name>
      <filter-class>filter.CharacterEncodingFilter</filter-class>
      <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
      </init-param>
  </filter>
  <filter-mapping>
      <filter-name>CharacterEncodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>