@import "common.css";
* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 1024px;
	font-size: 1rem;
}
button, input[type="submit"] {
    cursor: pointer;
	background: Gray;
    color: White;
	border: 1px solid Gray;
}
.small {
	font-size: 0.8rem;
}
.normal {
	font-size: 1rem;
}
.large {
	font-size: 1.5rem;
}
.xlarge {
	font-size: 2rem;
}