@import "items.css";
.search {
	padding: 40px 0px;
    text-align: center;
}
.search label {
	padding: 40px;
	font-weight: bold;
	font-size: 24px;
}
.search input[type="text"] {
	padding: 5px;
	font-size: 20px;
	margin: 0px;
}
.search input[type="submit"] {
	vertical-align: center;
}