@import "items.css";
.search {
	padding: 3rem 0;
    text-align: center;
    font-size: 1rem;
}
.search label {
	padding: 1em;
	font-weight: bold;
	font-size: 1.3em;
}
.search input[type="text"] {
	padding: 0.3em;
	font-size: 1.3em;
}
.search input[type="submit"] {
	padding: 0.3em;
	font-size: 1.3em;
	vertical-align: center;
}